# Ignore all macOS .DS_Store files.
.DS_Store
.fake
.cache
fsharp/FsLexYacc.Runtime.11.3.0/fable/obj/FsLexYacc.Runtime.fsproj.nuget.dgspec.json
fsharp/FsLexYacc.Runtime.11.3.0/fable/obj/FsLexYacc.Runtime.fsproj.nuget.dgspec.json
fsharp/FsLexYacc.Runtime.11.3.0/fable/obj/FsLexYacc.Runtime.fsproj.nuget.g.props
fsharp/FsLexYacc.Runtime.11.3.0/fable/obj/FsLexYacc.Runtime.fsproj.nuget.g.targets
fsharp/FsLexYacc.Runtime.11.3.0/fable/obj/project.assets.json
fsharp/FsLexYacc.Runtime.11.3.0/fable/obj/project.nuget.cache
